/* Generales */
:root{
    --color-white: #fff;
    --color-black:  #000;
    --color-grey-darkest: rgb(50, 50, 51);
    --color-grey-dark: rgb(100, 100, 108);
    --color-grey-light: rgb(150, 150, 150);
    --color-grey-lightest: rgb(225, 225, 225);
    
    --color-blue-light: rgb(83, 104, 223);
    --color-blue-dark: rgba(37, 43, 70, 0.95);
    --color-red-light: rgb(250, 87, 87);
    
    --color-box-shadow-grey: rgba(0,0,0,0.1);
    --color-box-shadow-blue: rgba(0, 124, 169, 0.35);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: var(--color-black);
}

h1{
    font-size: 3.5rem;
}
h2{
    font-size: 2.75rem;
}
h3{
    font-size: 2rem;
}
p{
    font-size: 1.75rem;
}

img {
    max-width: 100%;
}

/* Utilidades */

.btn-primary,
.btn-card-install {
    margin: 0;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: .5rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--color-box-shadow-grey);
}
.btn-download-chrome,
.btn-bookmark,
.btn-card-install,
.btn-info {
    background-color: var(--color-blue-light);
    color: var(--color-white);
}

/* Navegador */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1001;
    margin-bottom: 5rem;
    padding: 1.5rem;
    width: 90%;
    margin: 0 auto;
}
.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 1002;
}
.menu-toggle .bar {
    width: 2.5rem;
    height: 0.3rem;
    background-color: var(--color-grey-darkest);
    transition: 0.3s;
}
.nav-links {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--color-blue-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    margin: 0;
    padding: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}
.nav-links.show {
    transform: translateY(0);
}
.nav-links a {
    font-size: 3rem;
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}
.nav-links .btn-loggin {
    padding: 0.8rem rem;
    border: 2px solid var(--color-white);
    border-radius: 4px;
    color: var(--color-white);
}

@media (min-width: 769px) {
    .navbar {
        width: 80%;
        margin: 0 auto;
    }
    .menu-toggle {
        display: none;
    }
    .nav-links {
        position: static;
        height: auto;         
        width: auto;         
        background: none;     
        display: flex;
        flex-direction: row;  
        align-items: center;
        justify-content: center;
        gap: 3rem;
        transform: none;
        padding: 0;
    }
    .nav-links li a {
        font-size: 1.6rem;
        color: var(--color-grey-darkest);
        text-transform: uppercase;
        letter-spacing: normal;

    }
    .nav-links li a:hover {
        color: var(--color-red-light);
        background-color: var(--color-white);
        
    }
    .btn-loggin {
        background-color: var(--color-red-light);
        color: var(--color-white);
        padding: 1rem 2.5rem;
        border: 1px solid transparent; 
        border-radius: .5rem;
        box-shadow: 0.5rem 0.5rem 0.5rem var(--color-box-shadow-grey);
    }
    .btn-loggin:hover {
        background-color: var(--color-white);
        color: var(--color-red-light);
        border: 1px solid var(--color-red-light);   
    }
}

/* Hero section*/

.hero {
    display: block;
    text-align: center;
    gap: 1rem;
    margin: 2rem auto 17.5rem auto;
    font-size: 3.5rem;
    width: 100%;
}

.hero__image {
    position: relative;
    width: 100%;
    max-width: 100rem;
    margin-bottom: 2.5rem;
}
.hero__image::before {
    content: "";
    position: absolute;
    bottom: 0; 
    right: 0;   
    width: 50%; 
    height: 70%;
    background-color: var(--color-blue-light);
    border-radius: 0 0 0 15rem ;
    z-index: -1;
}
.hero__image img {
    width: 100%;
    max-width: 50rem;
}

.hero__content {
    width: 80%;
    margin: 0 auto;
    max-width: 50rem;
}
.hero__content h2 {
    font-size: 2.4rem;
    color: var(--color-grey-darkest);
    
    margin: 0 auto 2.5rem auto;

}
.hero__content p {
    font-weight: 500;
    color: var(--color-grey-light);
    line-height: 3rem;
    margin: 0 auto 3.5rem auto;
    
}

.btn-download-firefox {
    background-color: var(--color-white);
    color: var(--color-grey-dark);
}

.btn-download-chrome,
.btn-download-firefox {
    border: 1px solid transparent;
    padding: 1.5rem;
}
.btn-download-chrome:hover,
.btn-download-firefox:hover {
    background-color: var(--color-white);
}
.btn-download-chrome:hover {
    color: var(--color-blue-light);
    border: 1px solid var(--color-blue-light);
}
.btn-download-firefox:hover {
    color: var(--color-grey-dark);
    border: 1px solid var(--color-grey-dark);
}

@media (min-width: 769px) {
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        margin: 5rem auto 15rem auto;  
    }

    .hero__image {
        order: 2;
        width: 50%;
        margin-bottom: 0;
    }
    .hero__image::before {
        bottom: -2.5rem;
        left: 30%; 
        width: 70%;
        height: 90%;
        border-radius: 0 0 0 15rem;
        transform: none;
        margin-right: 0;
    }
    .hero__image img{
        width: 100%;
        max-width: 70rem;
    }

    .hero__content {
        order: 1;
        width: 60%;
        margin: 0 auto;
    }
    .hero__content h2 {
        width: 70%;
        margin-left: 0;
        text-align: left;
        font-size: 3.5rem;
    }
    .hero__content p {
        width: 100%;
        text-align: left;
    }
}

/* Features section */

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 10rem auto;
}

.features__info {
    margin-bottom: 2.5rem;
}
.features__info h2 {
    text-align: center;
}
.features__info p {
    font-weight: 500;
    color: var(--color-grey-light);
    line-height: 3rem;
    margin: 0 auto 3.5rem auto;
    width: 75%;
    text-align: center;
}
@media (min-width: 769px) {
    .features__info h2 {
        width: 50%;
        margin: 0 auto 2.5rem auto;
    }
    .features__info p {
        width: 40%;
    }
}

.features__tabs {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: none;      
    margin: 0 auto;
    width: 80%;
}
.tabs__box {
    display: flex;
    justify-content: center;
    border-top: 0.1px solid var(--color-grey-lightest);
}
.tabs__box:last-of-type {
    border-bottom: 0.1px solid var(--color-grey-lightest);
}
.tabs__btn {
    background: none;
    border: none;
    border-bottom: 5px solid var(--color-white); 
    width: 100%;
    max-width: 25rem;             
    padding: 2rem;
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--color-grey-dark);
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}
.tabs__btn:hover {
    color: var(--color-red-light); 
}
.tabs__btn.active {
    color: var(--color-grey-darkest);
    border-bottom: 5px solid var(--color-red-light);
}


@media (min-width: 769px) {
    .features__tabs {
        grid-template-columns: repeat(3, 1fr);
        border-bottom: 0.1px solid var(--color-grey-lightest); 
        width: 75%;
    }
    .tabs__box {
        border: none;
    }
    .tabs__btn {
        border: none;
        border-left: 5px solid var(--color-white);
        text-align: center;
        max-width: none;
        border-bottom: 5px solid var(--color-white);
    }
}

/* bookmark section*/

.bookmark {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15rem;
}
.bookmark__image {
    text-align: center;
    margin-bottom: 5rem;
    width: 90%;
    position: relative;   
}
.bookmark__image::before {
    content: "";
    position: absolute;
    bottom: -5rem;
    left: -15rem;
    width: 100%;
    height: 90%;
    background-color: var(--color-blue-light);
    border-radius:0 0 15rem;
    z-index: -1;
}
.bookmark__image img {
    width: 90%;
}
.bookmark__content {
    display: block;
    width: 75%;
}
.bookmark__content h2 {
    text-align: center;
}
.bookmark__content p {
    font-weight: 500;
    text-align: center;
    color: var(--color-grey-light);
    line-height: 3rem;
    margin: 0 auto 3.5rem auto;
}
.btn-bookmark {
    display: none;
}
@media (min-width: 769px) {
    .bookmark {
        flex-direction: row;
        gap: 5rem;
        width: 90%;
        margin: 0 auto 20rem auto;
    }
    .bookmark__image {
        width: 60%;
        margin-bottom: 0;
    }
    .bookmark__content {
        width: 40%;
    }
    .bookmark__content h2 {
        text-align: left;
    }
    .bookmark__content p {
        text-align: left;
        width: 75%;
        margin-left: 0;
    }
    .btn-bookmark {
        display: block;
    }
}

/* Download section */

.download {
    display: block;
    margin: 0 auto 17.5rem auto;
}
.download__info {
    text-align: center;
    width: 70%;
    margin: 0 auto 5rem auto;
}
.download__info h2 {
    color: var(--color-blue-dark);
}
.download__info p {
    font-weight: 500;
    text-align: center;
    color: var(--color-grey-light);
    line-height: 3rem;
    margin: 0 auto 3.5rem auto;
}
.download__cards {
    display: grid;
    text-align: center;
    gap: 3.5rem;
}
.card {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 2.5rem 0rem var(--color-box-shadow-blue);
    min-width: 25rem;
    min-height: 30rem;
    margin: 0 auto;
}
.card__logo {
    width: 50%;
    margin: 7.5rem auto 0 auto;
}
.card h2 {
    color: var(--color-blue-dark);
    margin: 3rem 0 0.5rem 0;
    font-size: 2.25rem;
}
.card p {
    color: var(--color-grey-dark);
    margin: 1rem auto 3.5rem auto;
}
.card__dots {
    width: 100%;
}
.btn-card-install {
    margin: 2rem;
    border: 2px solid transparent;
}
.btn-card-install:hover {
    background-color: var(--color-white);
    color: var(--color-blue-light);
    border: 2px solid var(--color-blue-light);
}


@media (min-width: 769px) {
    .download__info {
        width: 35%;
    }
    .download__cards {
        width: 75%;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .card:nth-child(1) {
        margin-top: 0;
        margin-bottom: 10rem;
    }
    .card:nth-child(2) {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .card:nth-child(3) {
        margin-top: 10rem;
        margin-bottom: 0;
    }
}


/* FAQ section */

.faqs {
    display: block;
    margin: 0 auto 15rem auto;
}
.faqs__info {
    text-align: center;
    margin-bottom: 7.5rem;
}
.faqs__info h2 {
    width: 80%;
    margin: 0 auto 2.5rem auto;
}
.faqs__info p {
    font-weight: 500;
    text-align: center;
    color: var(--color-grey-light);
    line-height: 3rem;
    margin: 0 auto 3.5rem auto;
    width: 80%;
}
.faqs__toggle {
    width: 80%;
    margin: 0 auto;
}
.faqs__toggle details {
    font-size: 1.5rem;
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--color-grey-lightest);

}
.faqs__toggle details summary {
    font-weight: 700;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
summary:hover{
    color: var(--color-red-light);
}
summary .icon {
    color: var(--color-blue-light);
}
.faqs__toggle details[open] summary img {
    transform: rotate(180deg);
    filter: invert(41%) sepia(80%) saturate(3307%) hue-rotate(339deg) brightness(99%) contrast(98%);
}
.faqs__toggle details p {
    font-weight: 500;
    color: var(--color-grey-dark);
    line-height: 2.75rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2.5rem;
}
.btn-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.5rem auto 0 auto;
}
@media (min-width: 769px) {
    .faqs__info {
        width: 50%;
        margin: 0 auto;
    }
    .faqs__toggle {
        width: 30%;
    }
}

/* Footer */

.footer {
    display: block;
    margin: 0;
    padding: 0;
}

.footer__contact {
    background-color: var(--color-blue-light);
    padding: 7.5rem 0;
    text-align: center;
    color: var(--color-white);
}
.footer__contact h3 {
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}
.footer__contact h2 {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}
.footer__form {
    display: block;
    width: 80%;
    margin: 0 auto;
}
.footer__form input {
    border: none;
    border-radius: .5rem;
    padding: 1.75rem;
    margin-bottom: 1.5rem;
    color: var(--color-grey-light);
    width: 100%;
}
.btn-contact {
    background-color: var(--color-red-light);
    color: var(--color-white);
    border: 1px solid var(--color-red-light);
    border-radius: .5rem;
    width: 100%;
    font-weight: 700;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 0.5rem 0.5rem 0.5rem var(--color-box-shadow-grey);
}
.btn-contact:hover {
    background-color: var(--color-white);
    color: var(--color-red-light);
}

.footer__navbar {
    width: 100%;
    background-color: var(--color-blue-dark);
}
.footer__navbar-box{
    display: block;
    padding: 5rem 0;
    text-align: center;
}
.footer__navbar a img {
    margin-bottom: 2rem;
    width: 50%;
}
.footer__navbar nav ul li {
    padding: 1.5rem;
}
.footer__navbar nav ul li a {
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .5rem; 
}
.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
}
.footer__social a img {
    max-width: 3.5rem;
    width: 150%;
}
@media (min-width: 769px) {
    .footer__contact h3 {
        font-size: 1.5rem;
        margin-bottom: 3.5rem;
    }
    .footer__contact h2 {
        width: 35%;
    }

    .footer__form{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 2.5fr 1fr;
        width: 35%;
        margin: 0 auto;
        gap: 1rem;
    }
    .footer__form input{
        margin: 0;
        padding: 1.75rem;
    }
    .btn-contact {
        margin: 0;
        padding: 1.75rem;
    }
    .footer__navbar-box {
        display: grid;
        grid-template-columns: 3fr 1fr;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 3rem;
        width: 80%;
    }
    .footer__navbar-box a img {
        width: 100%;
        margin-bottom: 0;
        
    }
    .footer__navbar-box nav ul {
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .footer__navbar-box nav ul li a:hover{
        color: var(--color-red-light);
    }
    .footer__social{
        margin: 0;
    }
}

