/* Generales */
:root{
    --color-black:  #000;
    --color-grey-1: rgb(50, 50, 51);
    --color-grey-2: rgb(100, 100, 108);
    --color-grey-3: rgb(150, 150, 150);
    --color-grey-4: rgb(225, 225, 225);
    --color-white: #fff;
    --color-blue-1: rgb(83, 104, 223);
    --color-blue-2: rgba(37, 43, 70, 0.95);
    --color-red-1: rgb(250, 87, 87);
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--color-black);
}

h1{
 font-size: 3.25rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 1.75rem;
}
p{
    font-size: 1.5rem;
}

/* Utilidades */

.btn-primary,
.btn-install{
    margin: 0;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: .5rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0,0,0,.05);

}
.btn-download-chrome,
.btn-install{
    background-color: var(--color-blue-1);
    color: var(--color-white);
}
.btn-download-firefox{
    background-color: var(--color-white);
    color: var(--color-grey-2);
}

/* Navegador */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  position: relative;
  z-index: 1001;
  margin-bottom: 3rem;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1002;
}
.menu-toggle .bar {
  width: 2.5rem;
  height: 0.3rem;
  background-color: var(--color-grey-1);
  transition: 0.3s;
}

.nav-links {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--color-blue-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  text-align: center;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}
.nav-links.show {
  transform: translateY(0);
}

.nav-links a {
  font-size: 1.8rem;
  color: var(--color-white);
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.nav-links .btn-loggin {
  padding: 0.8rem 2rem;
  border: 2px solid --color-white;
  border-radius: 4px;
  color: var(--color-white);
}

/* Hero */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin: 2rem auto 15rem auto;
}
.hero__image img {
    width: 100%;
    max-width: 50rem;
}
.hero__content {
    max-width: 50rem;
}

.hero__title {
    font-size: 2.4rem;
    color: var(--color-grey-1);
    width: 50%;
    margin: 0 auto 1.5rem auto;
}

.hero__text {
    font-size: 1.5rem;
    color: var(--color-grey-2);
    line-height: 2.5rem;
    margin: 0 auto 2rem auto;
    width: 70%;
}

.hero__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

/* Features */

.features{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 10rem auto;
}
.features__intro{
    margin-bottom: 5rem;
}
.features__intro h2{
    text-align: center;
}
.features__intro p{
    font-size: 1.5rem;
    color: var(--color-grey-2);
    line-height: 2.5rem;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}
.features__tabs {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: none;      
  margin: 0 auto;
  width: 80%;

}
.tabs__box{
    display: flex;
    justify-content: center;
    border-top: 0.1px solid var(--color-grey-4);

}
.tabs__box:last-of-type{
    border-bottom: 0.1px solid var(--color-grey-4);
}
.tabs__btn {
  background: none;
  border: none;
  border-bottom: 5px solid var(--color-white); 
  width: 100%;
  max-width: 25rem;             
  padding: 2rem;
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--color-grey-2);
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

.tabs__btn:hover {
  color: var(--color-grey-1);
  border-bottom: 5px solid var(--color-red-1);
}

/* bookmark */

.bookmark{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10rem;
}
.bookmark__image{
    text-align: center;
    margin-bottom: 5rem;
    
}
.bookmark__image img{
    width: 90%;
    max-width: 50rem;
    
}
.bookmark__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}
.bookmark__title{
    text-align: center;
}
.bookmark__text{
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-grey-2);
    line-height: 2.5rem;
    margin: 0 auto 2rem auto;
}
.bookmark__btn{
    display: none;
}

/* Download */

.download{
    display: block;
    margin: 0 auto 10rem auto;
}
.download__info{
    text-align: center;
    width: 70%;
    margin: 0 auto 5rem auto;
}
.download__info h2{
    color: var(--color-blue-2);
}
.download__info p{
    font-size: 1.5rem;
    color: var(--color-grey-2);
    line-height: 2.5rem;
}
.download__cards{
    display: grid;
    text-align: center;
    gap: 3.5rem;
}
.card{
    border: none;
    border-radius: 1rem;
    box-shadow: 1.5rem 1.5rem 1.5rem rgba(0, 124, 169, 0.1);
    min-width: 25rem;
    min-height: 30rem;
    margin: 0 auto;
    padding: 3rem;
}
.card img{
    width: 50%;
    margin: 2rem auto 0 auto;

}
.card h2{
    color: var(--color-blue-2);
}
.card p{
    color: var(--color-grey-2);
    margin-bottom: 5rem;
}







