/* Buttons */

.btn-primary,
.btn-card-install,
.btn-download-chrome,
.btn-bookmark,
.btn-info {
    @include button($color-blue-light, $color-white);
}

.btn-download-chrome,
.btn-bookmark,
.btn-card-install,
.btn-info {
    &:hover {
        background-color: $color-white;
        color: $color-black;
        border: 2px solid $color-blue-light;
    }
}
.btn-download-firefox {
    @include button(transparent, $color-black);
    border: 2px solid transparent;
    &:hover {
        border: 2px solid $color-black;
        background-color: $color-white;
        color: $color-black;
    }
}
.btn-bookmark {
    display: none;
}
.btn-info {
    margin: 5rem auto 0 auto;
}
.btn-contact {
    @include button($color-red-light, $color-white);
}


/* Card */

.card {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 2.5rem 0rem $color-box-shadow-blue;
    min-width: 25rem;
    min-height: 30rem;
    margin: 0 auto;
    text-align: center;
    .card__logo {
        width: 50%;
        margin: 7.5rem auto 0 auto;
    }
    h2 {
        color: $color-blue-dark;
        margin: 3rem 0 0.5rem 0;
        font-size: 2.25rem;
    }
    p {
        color: $color-grey-dark;
        margin: 1rem auto 3.5rem auto;
    }
    .card__dots {
        width: 100%;
    }
    .btn-card-install {
        margin: 2rem;
        border: 2px solid transparent;
        &:hover {
            background-color: $color-white;
            color: $color-blue-light;
            border: 2px solid $color-blue-light;
        }
    }
}





