/* Header */

.navbar {
    @include flex-space($justify-content: space-between, $flex-direction: row);
    position: relative;
    z-index: 1001;
    margin: 0 auto 5rem auto;
    padding: 1.5rem;
    width: 90%;
    .logo {
        position: relative;
        z-index: 1003;
    }
}
.menu-toggle,
.close-menu {
    background: none;
    border: none;
    z-index: 1004;
    cursor: pointer;
    img {
        width: 2.5rem;
        height: auto;
    }
}
.close-menu {
    display: none;
}
.nav-links {
    @include flex-space($flex-direction: column, $gap: 0);
    position: fixed;
    inset: 0;
    background-color: rgba($color-blue-dark, 0.95);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1002;
    li {
        width: 80%;
        padding: 2rem 0;
        text-align: center;
        border-bottom: 1px solid rgba($color-white, 0.25);
        &:last-child {
            border-bottom: none;
        }
        &:first-of-type {
            border-top: 1px solid rgba($color-white, 0.25);
        }
    }
    a {
        display: block;
        color: $color-white;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        font-size: 2rem;
        font-weight: 500;
        padding: 1rem 0;
    }
}
.nav-links.show {
    transform: translateY(0);
}
.btn-loggin {
    color: $color-white;
    display: block;
    width: 100%;
    padding: 1.75rem 0;
    margin-top: 2rem;
    border: 2px solid $color-white;
    border-radius: 0.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    text-align: center;
    transition: 0.25s;
}

@media (min-width: 768px) {
    .menu-toggle,
    .close-menu {
        display: none;
    }

    .navbar {
        @include flex-space($justify-content: space-between);
        align-items: center;
    }

    .nav-links {
        all: unset;
        display: flex;
        align-items: center;
        gap: 3rem;
        list-style: none;
        li {
            all: unset;
            display: inline-block;
        }
        a {
            color: $color-grey-darkest;
            font-size: 1.4rem;
            letter-spacing: 0.15rem;
            text-transform: uppercase;
            transition:0.3s;
            &:hover {
                color: $color-red-light;
            }
        }

        .btn-loggin {
            background-color: $color-red-light;
            color: $color-white;
            border: 2px solid transparent;
            border-radius: 0.5rem;
            padding: 1rem 2.5rem;
            width: auto;
            font-size: 1.4rem;
            letter-spacing: 0.1rem;
            margin-top: 0;
            transition: 0.25s ;
            &:hover {
                background-color: transparent;
                border-color: $color-red-light;
                color: $color-red-light;
            }
        }
    }   
}

/* Footer */

.footer__navbar {
    display: block;
}

.footer__contact {
    background-color: $color-blue-light;
    padding: 10rem 0 7.5rem 0;

    h3 {
        width: 80%;
        color: $color-white;
        font-weight: 700;
        font-size: 1.25rem;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        text-align: center;
        margin: 0 auto 3.5rem auto;
    }

    h2 {
        width: 80%;
        color: $color-white;
        font-size: 2.5rem;
        text-align: center;
        margin: 0 auto 5rem auto;
    }
}

.footer__form {
    width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;

    .input-wrapper {
        position: relative;
        width: 100%;

        input {
            width: 100%;
            padding: 1rem 4rem 1rem 1.25rem;
            border: 1px solid transparent;
            border-radius: none;
            font-size: 1.25rem;
            outline: none;
        }
    }
    .input-wrapper.invalid input {
        border-color: $color-red-light;
        background-color: rgba($color-red-light, 0.1);
    }
    .error-icon {
        display: none;
        position: absolute;
        right: 1rem;
        top: 20%;
        transform: translateY(-50%);
        width: 1.75rem;
        height: 1.75rem;
        pointer-events: none;
    }
    .input-wrapper.invalid .error-icon {
        display: block;
    }
    .error-msg {
        margin-top: 0;
        padding: 0.75rem;
        font-size: 1.5rem;
        border-radius: 0 0 .5rem .5rem;
        color: $color-white;
        display: none;
        height: auto;
        background-color: $color-red-light;
    }
    .input-wrapper.invalid .error-msg {
        display: block;
    }
    
}

/* Footer */
.input-wrapper {
    input::before {
        background-color: $color-red-light;
    }
}
.footer__navbar {
    background-color: $color-blue-dark;
}
.footer__navbar-box {
    display: block;
    padding: 5rem 0;
    text-align: center;
    li {
        margin: 3rem;
        a {
            color: $color-white;
            letter-spacing: 0.25rem;
            text-transform: uppercase;
            transition: 0.3s;
            &:hover {
                color: $color-red-light;
            }
        }
        img {
            width: 100%;
            max-width: 17.5rem;
        }
    }

    .footer__social {
        @include flex-space($flex-direction: row, $gap: 2rem);
        
        img {
            width: 3.5rem;
            min-width: 100%;
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .footer__navbar {
        padding: 0;
    }
    .footer__contact {
        h3 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 3.5rem;
            width: 30%;
        }
    }
    .footer__form {
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        align-items: start;
        width: 40%;
    }
    
    .footer__navbar-box {
        @include flex-space($justify-content: space-between);
        width: 80%;
        margin: 0 auto;
        padding: 3.5rem;
        nav {
            img {
                min-width: 15rem;
            }
        }
        ul {
            @include flex-space($justify-content: flex-start, $gap: 5rem);
        }
        li {
            margin: 0;
        }
    }
}
