/* Buttons */

@mixin button($bg-color, $text-color, $padding: 1.5rem 3rem, $border-radius: 0.5rem, $font-weight: 700) {
    background-color: $bg-color;
    color: $text-color;
    padding: $padding;
    border-radius: $border-radius;
    border: 2px solid transparent;
    font-weight: $font-weight;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 0.5rem 0.5rem 0.5rem $color-box-shadow-grey;
    &:hover {
        background-color: darken($bg-color, 5%);
    }
}

/* Display */

@mixin flex-space($justify-content: center, $align-items: center, $flex-direction: row, $gap: 0) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    gap: $gap;
}

/* Center elements */

@mixin center-item($width: 80%, $margin: 0 auto) {
    width: $width;
    margin: $margin;
}

/* Text */

@mixin tittle-section($width: 85%, $margin: 0 auto 2.5rem auto, $text-align: center, $font-size: 3rem, $color: $color-blue-dark ) {
    width: $width;
    margin: $margin;
    text-align: $text-align;
    font-size:  $font-size;
    color: $color-blue-dark;
}
@mixin text-section($width: 85%, $margin: 0 auto 2.5rem auto, $text-align: center, $color: $color-grey-dark) {
    width: $width;
    margin: $margin;
    text-align: $text-align;
    line-height: 3rem;
    color: $color-grey-dark;
}
