
/* Colores */

    $color-white: #fff;
    $color-black:  #000;
    $color-grey-darkest: rgb(50, 50, 51);
    $color-grey-dark: rgb(100, 100, 108);
    $color-grey-light: rgb(150, 150, 150);
    $color-grey-lightest: rgb(225, 225, 225);
    
    $color-blue-light: rgb(83, 104, 223);
    $color-blue-dark: rgba(37, 43, 70, 0.95);
    $color-red-light: rgb(250, 87, 87);

/* Sombras */

    $color-box-shadow-grey: rgba(0,0,0,0.1);
    $color-box-shadow-blue: rgba(0, 124, 169, 0.35);

/* Tamaños de fuente */

    $h1-font-size: 3.5rem;
    $h2-font-size: 2.5rem;
    $h3-font-size: 2rem;
    $p-font-size: 1.75rem;

/* Fuente */

    $font-family: "Rubik", sans-serif; 
    $font-weight-medium: 400;
    $font-weight-regular: 500;
    
/* Breakpoints */

    $breakpoint-tablet: 768px;
    $layout-max-width: 1080px; 
