/* Importaciones */

@import 'variables';
@import 'mixins';
@import 'base';
@import 'layout';
@import 'components';

/* Hero section*/
.hero {
    display: block;
    margin-bottom: 15rem;
}

.hero__content {
    h2 {
        width: 80%;
        margin: 0 auto 2.5rem auto;
        text-align: center;
        font-size: 3.5rem;
        color: $color-blue-dark;
    }
    p{
        width: 80%;
        margin: 0 auto 2.5rem auto;
        text-align: center;
        line-height: 3rem;
        color: $color-grey-dark;

    }
    .hero__buttons-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        margin: 0 auto;
    }
}

/* Features section */

.features {
    display: block;
    margin-bottom: 10rem;
}
.features__info {
    h2 {
        width: 80%;
        margin: 0 auto 2.5rem auto;
        text-align: center;
        font-size: 3.5rem;
        color: $color-blue-dark;
    }
    p {
        width: 80%;
        margin: 0 auto 2.5rem auto;
        text-align: center;
        line-height: 3rem;
        color: $color-grey-dark;
    }
}
.features__tabs {
    display: grid;
    grid-template-columns: 1fr;
    .tabs__box {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        border-bottom: 1px solid $color-grey-light;
        &:first-of-type {
            border-top: 1px solid $color-grey-light;
        }
    }
    .tabs__btn {
        padding: 2.5rem;
        border: none;
        border-bottom: 2px solid transparent;
        font-size: 2.25rem;
        font-weight: 700;
        color: $color-grey-dark;
        &:hover {
            color: $color-grey-darkest;
            border-bottom: .5rem solid $color-red-light;
        }
    }
}

/* bookmark section*/
/*
.bookmark {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15rem;
}
.bookmark__image {
    text-align: center;
    margin-bottom: 5rem;
    width: 90%;
    position: relative;   
}
.bookmark__image::before {
    content: "";
    position: absolute;
    bottom: -5rem;
    left: -15rem;
    width: 100%;
    height: 90%;
    background-color: var(--color-blue-light);
    border-radius:0 0 15rem;
    z-index: -1;
}
.bookmark__image img {
    width: 90%;
}
.bookmark__content {
    display: block;
    width: 75%;
}
.bookmark__content h2 {
    text-align: center;
}
.bookmark__content p {
    font-weight: 500;
    text-align: center;
    color: var(--color-grey-light);
    line-height: 3rem;
    margin: 0 auto 3.5rem auto;
}
.btn-bookmark {
    display: none;
}
@media (min-width: 769px) {
    .bookmark {
        flex-direction: row;
        gap: 5rem;
        width: 90%;
        margin: 0 auto 20rem auto;
    }
    .bookmark__image {
        width: 60%;
        margin-bottom: 0;
    }
    .bookmark__content {
        width: 40%;
    }
    .bookmark__content h2 {
        text-align: left;
    }
    .bookmark__content p {
        text-align: left;
        width: 75%;
        margin-left: 0;
    }
    .btn-bookmark {
        display: block;
    }
}

/* Download section */
/*
.download {
    display: block;
    margin: 0 auto 17.5rem auto;
}
.download__info {
    text-align: center;
    width: 70%;
    margin: 0 auto 5rem auto;
}
.download__info h2 {
    color: var(--color-blue-dark);
}
.download__info p {
    font-weight: 500;
    text-align: center;
    color: var(--color-grey-light);
    line-height: 3rem;
    margin: 0 auto 3.5rem auto;
}
.download__cards {
    display: grid;
    text-align: center;
    gap: 3.5rem;
}



@media (min-width: 769px) {
    .download__info {
        width: 35%;
    }
    .download__cards {
        width: 75%;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .card:nth-child(1) {
        margin-top: 0;
        margin-bottom: 10rem;
    }
    .card:nth-child(2) {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .card:nth-child(3) {
        margin-top: 10rem;
        margin-bottom: 0;
    }
}

*/
/* FAQ section */
/*
.faqs {
    display: block;
    margin: 0 auto 15rem auto;
}
.faqs__info {
    text-align: center;
    margin-bottom: 7.5rem;
}
.faqs__info h2 {
    width: 80%;
    margin: 0 auto 2.5rem auto;
}
.faqs__info p {
    font-weight: 500;
    text-align: center;
    color: var(--color-grey-light);
    line-height: 3rem;
    margin: 0 auto 3.5rem auto;
    width: 80%;
}
.faqs__toggle {
    width: 80%;
    margin: 0 auto;
}
.faqs__toggle details {
    font-size: 1.5rem;
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--color-grey-lightest);

}
.faqs__toggle details summary {
    font-weight: 700;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
summary:hover{
    color: var(--color-red-light);
}
summary .icon {
    color: var(--color-blue-light);
}
.faqs__toggle details[open] summary img {
    transform: rotate(180deg);
    filter: invert(41%) sepia(80%) saturate(3307%) hue-rotate(339deg) brightness(99%) contrast(98%);
}
.faqs__toggle details p {
    font-weight: 500;
    color: var(--color-grey-dark);
    line-height: 2.75rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2.5rem;
}
.btn-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.5rem auto 0 auto;
}
@media (min-width: 769px) {
    .faqs__info {
        width: 50%;
        margin: 0 auto;
    }
    .faqs__toggle {
        width: 30%;
    }
}
*/
