/* Importaciones */

@import 'variables';
@import 'mixins';
@import 'base';
@import 'layout';
@import 'components';

/* Hero section*/

.hero {
    display: block;
    margin-bottom: 15rem;
}
.hero__content {
    h2 {
        @include tittle-section-center(3.5rem);
    }
    p{
        @include text-section-center()
    }
    .hero__buttons-box {
        @include flex-column-center();
        flex-direction: row;
        gap: 2rem;
        margin: 0 auto;
    }
}
.hero__image {
    position: relative;
    width: 100%;
    max-width: 100rem;
    margin-bottom: 2.5rem;
    &::before {
        content: "";
        position: absolute;
        bottom: 0; 
        right: 0;   
        width: 75%; 
        height: 80%;
        background-color: $color-blue-light;
        border-radius: 0 0 0 15rem ;
        z-index: -1;
    }
    img {
        width: 100%;
        max-width: 50rem;
    }
}


/* Features section */

.features {
    display: block;
    margin-bottom: 10rem;
}
.features__info {
    h2 {
        @include tittle-section-center();
    }
    p{
        @include text-section-center()
    }
}
.features__tabs {
    display: grid;
    grid-template-columns: 1fr;
    .tabs__box {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        border-bottom: 1px solid $color-grey-light;
        &:first-of-type {
            border-top: 1px solid $color-grey-light;
        }
    }
    .tabs__btn {
        padding: 2.5rem;
        border: none;
        border-bottom: 2px solid transparent;
        font-size: 2.25rem;
        font-weight: 700;
        color: $color-grey-dark;
        border-bottom: .5rem solid transparent;
        &:hover {
            color: $color-grey-darkest;
            border-bottom: .5rem solid $color-red-light;
        }
    }
}

/* Bookmark section */

.bookmark {
    margin: 0 auto 17.5rem auto;
}
.bookmark__image {
    text-align: center;
    margin-bottom: 10rem;
    width: 80%;
    margin: 0 auto 7.5rem auto;
    position: relative;  
    &::before {
        content: "";
        position: absolute;
        bottom: -2.5rem;
        left: -15rem;
        width: 110%;
        height: 95%;
        background-color: $color-blue-light;
        border-radius:0 0 15rem;
        z-index: -1;
    } 
    img {
        width: 90%;
    }
}

.bookmark__content {
    h2 {
        @include tittle-section-center();
    }
    p{
        @include text-section-center()
    } 
}

/* Download section */

.download {
    margin-bottom: 15rem;
}
.download__info {
    h2 {
        @include tittle-section-center();
    }
    p{
        @include text-section-center();
    }
}
.download__cards {
    @include flex-column-center();
    flex-direction: column;
    gap: 5rem;
    width: 80%;
    margin: 0 auto;
}

/* FAQ section */

.faqs {
    margin-bottom: 15rem;
}
.faqs__info {
    h2 {
        @include tittle-section-center();
    }
    p {
        @include text-section-center();
    }
}
.faqs__toggle {
    text-align: center;
    details {
        width: 80%;
        margin: 0 auto;
        padding: 1.5rem 0;
        border-bottom: 1px solid $color-grey-light;
        &[open] summary img {
        transform: rotate(180deg);
        filter: invert(41%) sepia(80%) saturate(3307%) hue-rotate(339deg) brightness(99%) contrast(98%);
        }

    }
    summary {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        color: $color-grey-darkest;
        img {
            width: 1.5rem;
            height: auto;
            object-fit: contain;
            flex-shrink: 0;
        }
    }
    p {
        color: $color-grey-dark;
        line-height: 3.5rem;
        text-align: left;
    }
}