/* Importaciones */

@import 'variables';
@import 'mixins';
@import 'base';
@import 'layout';
@import 'components';

/* Hero section*/

.hero {
    display: block;
    margin-bottom: 15rem;
}
.hero__content {
    h2 {
        @include tittle-section-center(3.5rem);
    }
    p{
        @include text-section-center()
    }
    .hero__buttons-box {
        @include flex-column-center();
        flex-direction: row;
        gap: 2rem;
        margin: 0 auto;
    }
}

/* Features section */

.features {
    display: block;
    margin-bottom: 10rem;
}
.features__info {
    h2 {
        @include tittle-section-center();
    }
    p{
        @include text-section-center()
    }
}
.features__tabs {
    display: grid;
    grid-template-columns: 1fr;
    .tabs__box {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        border-bottom: 1px solid $color-grey-light;
        &:first-of-type {
            border-top: 1px solid $color-grey-light;
        }
    }
    .tabs__btn {
        padding: 2.5rem;
        border: none;
        border-bottom: 2px solid transparent;
        font-size: 2.25rem;
        font-weight: 700;
        color: $color-grey-dark;
        border-bottom: .5rem solid transparent;
        &:hover {
            color: $color-grey-darkest;
            border-bottom: .5rem solid $color-red-light;
        }
    }
}
/* Bookmark section */

.bookmark {
    margin: 0 auto 17.5rem auto;
}
.bookmark__image {
    margin: 0 auto 7.5rem auto;
    width: 80%;
}
.bookmark__content {
    h2 {
        @include tittle-section-center();
    }
    p{
        @include text-section-center()
    } 
}
/* Download section */

.download {
    margin-bottom: 15rem;
}
.download__info {
    h2 {
        @include tittle-section-center();
    }
    p{
        @include text-section-center();
    }
}
.download__cards {
    @include flex-column-center();
    flex-direction: column;
    gap: 5rem;
    width: 80%;
    margin: 0 auto;
}

/* FAQ section */

.faqs {
    margin-bottom: 15rem;
}
.faqs__info {
    h2 {
        @include tittle-section-center();
    }
    p {
        @include text-section-center();
    }
}
.faqs__toggle {
    text-align: center;
    details {
        width: 80%;
        margin: 0 auto;

        padding: 1.5rem 0;
        border-bottom: 1px solid $color-grey-light;
    }
    summary {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        color: $color-grey-darkest;
    }
    p {
        color: $color-grey-dark;
        line-height: 3.5rem;
        text-align: left;
    }
}

